html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    flex-direction: column;
    height: 90%;
    box-sizing: border-box;
}

#product-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid orange;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

#cart {
    list-style: none;
    padding: 0;
    height: 80%;
    width: 50%;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item span {
    flex: 1;
}

.cart-item button {
    margin-left: 10px;
}

button {
    background-color: rgba(255, 166, 0, 0.238);
    border: 1px solid orange;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

input {
    border: 1px solid orange;
    padding: 5px;
}
